/* 
********************
RESET 
******************** 
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
********************
SETUP
******************** 
*/

/* .container{
    background: lightblue;
    border: 1px dashed red;
}

.img_container{
        background: lightgray;
        border: 1px dashed red;
} */

/* 
********************
COMMON
******************** 
*/

.container{
    max-width: 1200px;
    height: 800px;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.img_container{
    position: relative;
}

.img_box{
    width: 650px;
    height: 250px;
    display: none; /* Di default il contenitore IMG è nascosto */
}


.img_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;  /*se l'img esce dal contenitore, si può sistemare con le regole object-fit */
    object-position: 50% 30%;
}

.up_arrow, .down_arrow{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    color: grey;
    cursor: pointer;
    z-index: 999;
}

.up_arrow{
    top: 3%;
}

.down_arrow{
    bottom: 3%;
}

/* Classe creata per mostrare i contenitori delle IMG del Carousel 
- Dialogo con impostazioni file JS - JavaScript */

.img_show{
    display: block;
}
